:root {
    --bg-color: #ffffff;
    --text-color: #1e1e1e;
    --bg-image: url("../images/Background.png");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}
header {
    position: fixed;
    top: 0;                 
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 8px 50px; /* уменьшили вертикальные отступы */
    background-color: white;
    color: black;
    font-style: normal;
    height: 40px; /* length of the header Y */
    border-bottom: 2px solid black;
}
.header-nav {
    display: flex;
    flex-direction: row;
    gap: 10px; /*gap between the text inside */
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}

.title {
    font-size: 24px;
    margin: 12px 0;
}

.quote {
    font-style: italic;
    color: #555;
    margin-bottom: 24px;
}


.card {
    width: min(520px, 92vw);
    aspect-ratio: 1 / 1; 
    padding: 28px 22px;
    text-align: center;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    box-shadow: 0px 6px 18px black;
    background: white;
    backdrop-filter: blur(2px);

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    margin: 0 auto;
}

.QRcode {
    width: 170px;
    margin: 0 auto;
    border: 3px solid black;
}

.btn-whatsapp {
    background-color: #25de36;
    padding: 10px 16px;
    border-radius: 21px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}